<header class="headerSection position-fixed fontfam">
        <div class="container">
            <div class="col-md-12">
            <div class="row">
                <div class="homeHeadLeft">
                    <h2>Admin Panel</h2>
                </div>
                <div class="homeHeadRight"> 
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" 
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                        aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon " ></span>
                        </button>
                      
                        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                              <a class="nav-link " href="/admin/adminLogout">Logout</a>
                            </li>
                        </ul>
                        </div>
                      </nav>
                </div>
            </div>
            </div>
        </div>
    </div>
    </header>

<section style="padding-top: 13rem;">
    <div class="container">
      <div class="row">
        <div>
          <a href="/admin/addUser" class="btn btn-success mb-4">Add User</a>
        </div>
        <div class="ml-auto">
          <input class="form-control rounded" type="text" id="searchInp" onkeyup="search()" placeholder="Search your name.." title="Type in a name">
        </div>
      </div>
  <table class="table" id="userTable">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      <th scope="row">{{this.name}}</th>
      <td>{{this.email}}</td>
      <td><a href="/admin/editUser/{{this._id}}"><i class="fas fa-user-edit"></i></a></td>
      <td><a href="/admin/deleteUser/{{this._id}}" onclick="return confirm('Do u want to delete {{this.name}} ?')"><i class="fas fa-trash"></i></a></td>
    </tr>
    {{/each}}
    </tbody>
    </table>
    </div>
</section>

